.lista_produtos_link {
    width: 100%;
    display: flex;
    justify-content: end;
}

.lista_produtos_link span {
    margin-right: 15px;
}

.lista_produtos_link span a{
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    background-color: #01A8E3;
    border-radius: 6px;
    color: #fff;
    transition: .3s;
}

.lista_produtos_link span a:hover{
    background-color: #036f96;
}

.form_container {
    width: 98%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    -webkit-box-shadow: 0px 1px 16px 5px rgba(0,0,0,0.34); 
    box-shadow: 0px 1px 16px 5px rgba(0,0,0,0.34);
    border-radius: 6px;
}

.form_container .form_group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 10px;
}

.form_container .form_group input {
    height: 30px;
    font-size: 15px;
    padding: 2px;
    margin-left: 5px;
}

.form_container .form_group label {
    font-size: 16px;
    font-weight: bold;
}

.form_container .form_group select {
    
    height: 30px;
    font-size: 15px;
    padding: 2px;
    margin-left: 5px;
}

.infos-adicionais {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.form_container .form_group textarea {
    width: 100%;
    height: 130px;
    padding: 10px;
    font-size: 15px;
}

.form_container .form_group .btns_cadastro {
    display: flex;
    column-gap: 20px;
}

.form_container .form_group .btns_cadastro button {
    width: 180px;
    height: 50px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    background-color: #FF6D00;
    font-weight: bold;
    transition: .3s;
    color: #fff;
    cursor: pointer;
}

.form_container .form_group .btns_cadastro button:hover {
    background-color: #c75904;
}

.form_container .form_group .btns_cadastro .btn_reset {
    background-color: #D50000;
}

.form_container .form_group .btns_cadastro .btn_reset:hover {
    background-color: #930202;
}


